<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>686685317849-d9kpfh55ge0ktva2o1gl8gekj4u1ulon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686685317849-d9kpfh55ge0ktva2o1gl8gekj4u1ulon</string>
	<key>API_KEY</key>
	<string>AIzaSyAjhheRFlJwszUclEMcrIGuntXd-KGfj_M</string>
	<key>GCM_SENDER_ID</key>
	<string>686685317849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.readydok.ios</string>
	<key>PROJECT_ID</key>
	<string>readydok-android-e4651</string>
	<key>STORAGE_BUCKET</key>
	<string>readydok-android-e4651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686685317849:ios:ac3f59171fcf0331</string>
	<key>DATABASE_URL</key>
	<string>https://readydok-android-e4651.firebaseio.com</string>
</dict>
</plist>